.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

#titulo_app{
  margin-top: 50px;
  font-size: 3em;
}

#logo_app {
  width: 5%;
  margin-top: -2%;
  margin-bottom: 1%;
  pointer-events: none;
}